language: php
php:
  - 7.0
  - 7.1

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

matrix:
  fast_finish: true

before_script:
  - composer install --no-interaction

script:
  - vendor/bin/phpcs --standard=PSR2 src/
  - vendor/bin/phpcs --standard=PSR2 test/